# Web scrapping assignment 1

In [30]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\acer\anaconda\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\acer\anaconda\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\acer\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\acer\anaconda\lib\site-packages (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\acer\anaconda\lib\site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\acer\anaconda\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\acer\anaconda\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\acer\anaconda\lib\site-packages (from requests) (1.26.11)

In [31]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# 1) Write a python program to display all the header tags from wikipedia.org and make data frame

In [32]:
    page=requests.get("https://en.wikipedia.org/wiki/Main_Page")

    soup=BeautifulSoup(page.content)

    header=[]

    for i in soup.find_all('span', class_="mw-headline"): 
        header.append(i.text)
    
    df=pd.DataFrame(header, columns=["Header"])
    df

                          Header
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

# Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice)
from https://presidentofindia.nic.in/former-presidents.htm and make data frame

In [33]:
    page1=requests.get("https://presidentofindia.nic.in/former-presidents.htm")

    soup1=BeautifulSoup(page1.content)

    titles=soup1.find('div', class_="presidentListing")
    titles.text.split('\n')[1]

    name=titles

    name.text.split('\n')[1]

    term=titles

    term.text.split('\n')[2]

    term.text.split('\n')[2]

    terms=[]

    for term in soup1.find_all('div', class_="presidentListing"):
        terms.append(term.text.split('\n')[2])
    
    df1=pd.DataFrame({'Term':terms})

    i.text.split('\n')[0]

    titles=[]

    for i in soup1.find_all('div', class_="presidentListing"):
        titles.append(i.text.split('\n')[1])
    
    df=pd.DataFrame({'Name':titles})

In [34]:
result=pd.concat([df,df1], axis=1,join='inner')
result

,Name,Term
0,Shri Ram Nath Kovind (birth - 1945),"Term of Office: 25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"Term of Office: 25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"Term of Office: 25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"Term of Office: 25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"Term of Office: 25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"Term of Office: 25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"Term of Office: 25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"Term of Office: 25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"Term of Office: 25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"Term of Office: 24 August, 1974 to 11 February..."
10,Shri Varahagiri Venkata Giri (1894-1980),"Term of Office: 3 May, 1969 to 20 July, 1969 a..."
11,Dr. Zakir Husain (1897-1969),"Term of Office: 13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"Term of Office: 13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"Term of Office: 26 January, 1950 to 13 May, 1962"

# 3) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team andrating.
c) Top 10 ODI bowlers along with the records of their team andrating.

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [35]:
def odi_teams(url):
    response = requests.get(url)

    soup = BeautifulSoup(response.content, "html.parser")

    table = soup.find("table", class_="table")

    teams = []
    matches = []
    points = []
    ratings = []

    for row in table.tbody.find_all("tr"):
        team = row.find("span", class_="u-hide-phablet").text.strip()
        teams.append(team)

        match = row.find_all("td")[2].text.strip()
        matches.append(match)

        point = row.find_all("td")[3].text.strip()
        points.append(point)

        rating = row.find_all("td")[4].text.strip()
        ratings.append(rating)

    data = {"Team": teams[:10], "Matches": matches[:10], "Points": points[:10], "Rating": ratings[:10]}
    df = pd.DataFrame(data)

    df.index = range(1, len(df)+1)
    return df

In [36]:
df = odi_teams("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
df

            Team Matches Points Rating
1      Australia      23  2,714    118
2       Pakistan      20  2,316    116
3          India      33  3,807    115
4    New Zealand      27  2,806    104
5        England      24  2,426    101
6   South Africa      19  1,910    101
7     Bangladesh      25  2,451     98
8      Sri Lanka      28  2,378     85
9    Afghanistan      13  1,067     82
10   West Indies      32  2,201     69

b) Top 10 ODI Batsmen along with the records of their team andrating.

In [37]:
def top_batsmenss(url):
    response = requests.get(url)
    
    soup = BeautifulSoup(response.content, 'html.parser')
    name = []
    team = []
    rate =[]
    a=soup.find('div', 'rankings-block__banner--name').text
    b=soup.find('div','rankings-block__banner--nationality').text[2:5]
    c=soup.find('div','rankings-block__banner--rating').text
    name.append(a)
    team.append(b)
    rate.append(c)
    namesss = []
    for i in soup.find_all('td', 'table-body__cell name'):
        namesss.append(i.text.strip())
    teams = []
    for i in soup.find_all('td', 'table-body__cell nationality-logo'):
        teams.append(i.text.strip())
    rating = []
    for i in soup.find_all('td', 'table-body__cell u-text-right rating'):
        rating.append(i.text.strip())
    names = name + namesss
    teams = team + teams
    rating = rate + rating
    
    df = pd.DataFrame({
        'Batsmen':names,
        'Team':teams,
        'Rating':rating
    })
    df.index = range(1, len(df)+1)
    return df[:10]

In [38]:
name = top_batsmenss('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
name

                  Batsmen Team Rating
1              Babar Azam  PAK    886
2   Rassie van der Dussen   SA    777
3            Fakhar Zaman  PAK    755
4             Imam-ul-Haq  PAK    745
5            Shubman Gill  IND    738
6            Harry Tector  IRE    726
7            David Warner  AUS    726
8             Virat Kohli  IND    719
9         Quinton de Kock   SA    718
10           Rohit Sharma  IND    707

c) Top 10 ODI bowlers along with the records of their team andrating.

In [39]:
def get_top_10_ODI_bowlers(url):
    response = requests.get(url)

    soup = BeautifulSoup(response.content, 'html.parser')

    table = soup.find('table', attrs={'class': 'table'})

    data = []
    rows = table.find_all('tr')
    for row in rows[1:11]:
        cells = row.find_all('td')
        player_name = cells[1].text.strip()
        team = cells[2].text.strip()
        rating = cells[3].text.strip()
        data.append({
            'Player Name': player_name,
            'Team': team,
            'Rating': rating
        })

    df = pd.DataFrame(data)
    df.index = range(1, len(df)+1)
    return df

In [40]:
top = get_top_10_ODI_bowlers('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
top

         Player Name Team Rating
1     Josh Hazlewood  AUS    705
2     Mohammed Siraj  IND    691
3     Mitchell Starc  AUS    686
4         Matt Henry   NZ    667
5        Trent Boult   NZ    660
6         Adam Zampa  AUS    652
7        Rashid Khan  AFG    640
8     Shaheen Afridi  PAK    630
9   Mujeeb Ur Rahman  AFG    630
10     Mohammad Nabi  AFG    626

# 5) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and
make data framei) Headline
ii) Time
iii) News Link

In [41]:
    file=requests.get("https://www.cnbc.com/world/?region=world")

    soup=BeautifulSoup(file.content, 'html.parser')

    headlines=[]

    for i in soup.find_all('a', class_="LatestNews-headline"):
        headlines.append(i.text)
    
    df=pd.DataFrame({'Headline':headlines})

    span=[]

    for i in soup.find_all('span', class_="LatestNews-wrapper"):
        span.append(i.text)
    
    df1=pd.DataFrame({'Time':span})

    url=[]
 
    for i in soup.find_all('a', class_="LatestNews-headline"):
        url.append(i.get('href'))
    
    df2=pd.DataFrame({'Links':url})

In [42]:
result=pd.concat([df,df1,df2], axis=1,join='inner')
result

,Headline,Time,Links
0,These stocks that are about to turn a profit s...,57 Min Ago,https://www.cnbc.com/2023/07/09/these-stocks-t...
1,Earnings playbook: JPMorgan Chase and Delta Ai...,1 Hour Ago,https://www.cnbc.com/2023/07/09/earnings-playb...
2,Yellen says Beijing talks a step forward in pu...,7 Hours Ago,https://www.cnbc.com/2023/07/09/janet-yellen-c...
3,U.S. soccer star Megan Rapinoe announces retir...,18 Hours Ago,https://www.cnbc.com/2023/07/08/us-soccer-star...
4,How to start a pet-sitting side hustle—you cou...,22 Hours Ago,https://www.cnbc.com/2023/07/08/how-to-start-a...
5,3 things to pay attention to in the markets th...,22 Hours Ago,https://www.cnbc.com/2023/07/08/3-things-to-pa...
6,These U.S. states have the best and the worst ...,22 Hours Ago,https://www.cnbc.com/2023/07/08/best-and-worst...
7,The No. 1 vitamin kids in the U.S. 'aren't get...,23 Hours Ago,https://www.cnbc.com/2023/07/08/no-1-nutrient-...
8,How the generative A.I. boom could forever cha...,23 Hours Ago,https://www.cnbc.com/2023/07/08/how-the-genera...
9,The 10 U.S. cities where rent has increased th...,23 Hours Ago,https://www.cnbc.com/2023/07/08/us-cities-wher...
10,"As 'bougie broke' videos trend, here's why exp...",23 Hours Ago,https://www.cnbc.com/2023/07/08/as-bougie-brok...
11,The Fed rolls out a new economic index that co...,23 Hours Ago,https://www.cnbc.com/2023/07/08/the-fed-has-ro...
12,Active funds are powering JPMorgan's ETFs past...,23 Hours Ago,https://www.cnbc.com/2023/07/08/active-funds-a...
13,Micron and Pfizer are the most oversold S&P 50...,23 Hours Ago,https://www.cnbc.com/2023/07/08/micron-and-pfi...
14,Medicare will pay for Alzheimer's drug Leqembi...,"July 8, 2023",https://www.cnbc.com/2023/07/08/leqembi-and-me...
15,"Buy Buy Baby auction is canceled, but buyers a...","July 7, 2023",https://www.cnbc.com/2023/07/07/buy-buy-baby-a...
16,Elon Musk's Twitter sues top law firm Wachtell...,"July 7, 2023",https://www.cnbc.com/2023/07/07/elon-musks-twi...
17,Biogen falls after Alzheimer’s drug approval. ...,"July 7, 2023",https://www.cnbc.com/2023/07/07/biogen-falls-a...
18,Justin Bieber's Bored Ape NFT has lost about 9...,"July 7, 2023",https://www.cnbc.com/2023/07/07/justin-biebers...
19,How the SAVE plan can help student loan borrow...,"July 7, 2023",https://www.cnbc.com/2023/07/07/save-plan-help...
20,While Americans fear a recession as severe as ...,"July 7, 2023",https://www.cnbc.com/2023/07/07/americans-fear...
21,Here's how much the $615 million Powerball jac...,"July 7, 2023",https://www.cnbc.com/2023/07/07/heres-how-much...
22,10 U.S. counties where prospective buyers need...,"July 7, 2023",https://www.cnbc.com/2023/07/07/most-expensive...
23,Two health-care stocks are in the headlines. H...,"July 7, 2023",https://www.cnbc.com/2023/07/07/two-health-car...
24,Fed's Goolsbee sees 'golden path' to lower inf...,"July 7, 2023",https://www.cnbc.com/2023/07/07/feds-goolsbee-...
25,Meta Threads doesn't need the 'negativity' of ...,"July 7, 2023",https://www.cnbc.com/2023/07/07/threads-doesnt...
26,Small businesses may have a hard time finding ...,"July 7, 2023",https://www.cnbc.com/2023/07/07/small-business...
27,June inflation data will be closely watched by...,"July 7, 2023",https://www.cnbc.com/2023/07/07/june-inflation...
28,Sales of Alzheimer’s drug Leqembi may be slow ...,"July 7, 2023",https://www.cnbc.com/2023/07/07/alzheimers-dru...
29,"These stocks, plus Tesla, are this week's top ...","July 7, 2023",https://www.cnbc.com/2023/07/07/these-stocks-i...

# Write a python program to scrape the details of most downloaded articles from AI in last 90
days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details and make data framei) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [43]:
    data=requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")

    soup=BeautifulSoup(data.content, 'html.parser')

    hl=[]

    for i in soup.find_all('h2', class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
        hl.append(i.text)  
    
    df=pd.DataFrame({"Paper Title":hl})

    name=[]

    for i in soup.find_all('span', class_="sc-1w3fpd7-0 dnCnAO"):
        name.append(i.text)
    
    df1=pd.DataFrame({"Author Name":name})

    date=[]

    for i in soup.find_all('span', class_="sc-1thf9ly-2 dvggWt"):
        date.append(i.text)
    
    df2=pd.DataFrame({"Published Date":date})

    link=[]

    for i in soup.find_all('a', class_="sc-5smygv-0 fIXTHm"):
        link.append(i.get('href'))
    
    df3=pd.DataFrame({"Paper URL":link})

In [44]:
result=pd.concat([df,df1,df2,df3], axis=1,join='inner')
result

,Paper Title,Author Name,Published Date,Paper URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [45]:
def icc_womens_team(url):
    response = requests.get(url)

    soup = BeautifulSoup(response.content, "html.parser")

    table = soup.find("table", class_="table")

    teams = []
    matches = []
    points = []
    ratings = []

    for row in table.tbody.find_all("tr"):
        team = row.find("span", class_="u-hide-phablet").text.strip()
        teams.append(team)

        match = row.find_all("td")[2].text.strip()
        matches.append(match)

        point = row.find_all("td")[3].text.strip()
        points.append(point)

        rating = row.find_all("td")[4].text.strip()
        ratings.append(rating)

    data = {"Team": teams[:10], "Matches": matches[:10], "Points": points[:10], "Rating": ratings[:10]}
    df = pd.DataFrame(data)

    df.index = range(1, len(df)+1)

    return df

In [46]:
top_odi_wo = icc_womens_team('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
top_odi_wo

            Team Matches Points Rating
1      Australia      21  3,603    172
2        England      28  3,342    119
3   South Africa      26  3,098    119
4          India      27  2,820    104
5    New Zealand      28  2,688     96
6    West Indies      29  2,743     95
7     Bangladesh      14    977     70
8      Sri Lanka      12    820     68
9       Thailand      12    806     67
10      Pakistan      27  1,678     62

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [47]:
def top_10_women_batting_players(url):
   
    response = requests.get(url)

    soup = BeautifulSoup(response.content, 'html.parser')

    table = soup.find('table', {'class': 'table rankings-table'})

    data = []

    rows = table.find_all('tr')

    for row in rows[1:11]:
        cols = row.find_all('td')
        cols = [col.text.strip() for col in cols]
        player = cols[1]
        team = cols[2]
        rating = cols[3]
        data.append([player, team, rating])

    df = pd.DataFrame(data, columns=['Player', 'Team', 'Rating'])

    df.index += 1

    return df

In [48]:
wo_batsmen = top_10_women_batting_players('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
wo_batsmen

                 Player Team Rating
1   Chamari Athapaththu   SL    758
2           Beth Mooney  AUS    754
3       Laura Wolvaardt   SA    732
4        Natalie Sciver  ENG    731
5           Meg Lanning  AUS    717
6      Harmanpreet Kaur  IND    716
7       Smriti Mandhana  IND    714
8          Ellyse Perry  AUS    626
9       Stafanie Taylor   WI    618
10       Tammy Beaumont  ENG    595

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [49]:
def top_10_women_allrounders(url):
   
    response = requests.get(url)

    soup = BeautifulSoup(response.content, 'html.parser')

    table = soup.find('table', {'class': 'table rankings-table'})

    data = []

    rows = table.find_all('tr')

    for row in rows[1:11]: 
        cols = row.find_all('td')
        cols = [col.text.strip() for col in cols]
        player = cols[1]
        team = cols[2]
        rating = cols[3]
        data.append([player, team, rating])

    df = pd.DataFrame(data, columns=['Player', 'Team', 'Rating'])

    df.index += 1

    return df

In [50]:
wo_all = top_10_women_allrounders('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
wo_all

              Player Team Rating
1    Hayley Matthews   WI    382
2     Natalie Sciver  ENG    371
3       Ellyse Perry  AUS    366
4     Marizanne Kapp   SA    349
5        Amelia Kerr   NZ    328
6      Deepti Sharma  IND    322
7   Ashleigh Gardner  AUS    292
8      Jess Jonassen  AUS    250
9      Sophie Devine   NZ    233
10          Nida Dar  PAK    232

# 7) Write a python program to scrape mentioned details from dineout.co.inand make data framei) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [51]:
    page=requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")

    soup=BeautifulSoup(page.content, 'html.parser')

    name=[]

    for i in soup.find_all('a', class_="restnt-name ellipsis"):
        name.append(i.text)
    
    df=pd.DataFrame({"Restaurant name":name})

    cuisine=[]

    for i in soup.find_all('div', class_="detail-info"):
        cuisine.append(i.text.split('|')[1])
    
    df1=pd.DataFrame({'Cuisine':cuisine})

    loc=[]

    for i in soup.find_all('div', class_="restnt-loc ellipsis"):
        loc.append(i.text)
    
    df2=pd.DataFrame({"Location":loc})

    ratings=[]

    for i in soup.find_all('div', class_="restnt-rating rating-4"):
        ratings.append(i.text)
    
    df3=pd.DataFrame({"Ratings":ratings})

    image_url=[]

    for i in soup.find_all('img', class_="no-img"):
        image_url.append(i.get('data-src'))
    
    df4=pd.DataFrame({"Image URL":image_url})

In [52]:
result=pd.concat([df,df1,df2,df3,df4], axis=1,join='inner')
result

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle's Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...